<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- Updated CSP to allow HTMX CDN and Google Fonts -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;" />
  <meta http-equiv="X-Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;" />
  <title>Welcome to SimpleApp</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div hx-get="partials/navbar.html" hx-trigger="load" hx-swap="outerHTML"></div>
  <main>
    <div id="content" hx-get="views/home.html" hx-trigger="load" hx-swap="innerHTML">
      <!-- Home page will load here by default -->
    </div>
  </main>
  <script>
    function setActive(btn) {
      console.log('setActive called', btn); // Debugging output
      document.querySelectorAll('.nav button').forEach(b => b.classList.remove('active'));
      btn.classList.add('active');
    }
    // Debugging: log all HTMX events
    if (window.htmx) {
      htmx.logger = function (elt, event, data) {
        if (console) {
          console.log('[HTMX]', event, elt, data);
        }
      };
      htmx.logAll();
    }
  </script>
</body>

</html>